body{
    background: aliceblue !important;
}

.cal-btn:hover{
    background: black !important;
    color: white !important;
    transition: 0.4s ease-in-out;
    animation: animate 0.4s alternate ease-in-out infinite;
}

@keyframes animate {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.5);
    }
}